option_settings:
  - option_name: NodeVersion
    value: 6.10.0
files:
  "/bin/node" :
    mode: "100755"
    content: "/opt/elasticbeanstalk/node-install/node-v6.10.0-linux-x64/bin/node"
  "/bin/npm" :
    mode: "100755"
    content: "/opt/elasticbeanstalk/node-install/node-v6.10.0-linux-x64/bin/npm"