commands:
  create_post_dir:
    command: "mkdir -p /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: false
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/set_env_chmod.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      cd /var/app/current/
      sudo chmod a+w -R .
      sudo touch testingshellscriptBUNNY.hi
      /opt/elasticbeanstalk/bin/get-config environment > envs.json
      echo "After envs.json write"
      mkdir -p cookies
      cd cookies
      chmod a+w -R .