commands:
  create_post_dir:
    command: "mkdir -p /opt/elasticbeanstalk/hooks/appdeploy/pre"
    ignoreErrors: false
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/set_env_chmod.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      cd /var/app/current/
      touch testingshellscriptz.hi
      export RDS_PORT=5432
      export RDS_HOSTNAME=aah6nkdo1xgulk.c1auivbufwar.us-west-1.rds.amazonaws.com
      export RDS_DB_NAME=eatify-crm
      export RDS_PASSWORD=AuA8Bd9wGGUT
      export PGPASSWORD=$RDS_PASSWORD
      export TWILIO_ACCOUNT_SID=ACedcc03d72bf75acb1b6e95c6750590e3
      export TWILIO_AUTH_TOKEN=ff2abed237244f14327aebf0b26f9381
      export TWILIO_NUM=9093774882
      export MY_NUM=7142935548
      RDS_USERNAME=$(/opt/elasticbeanstalk/bin/get-config environment -k RDS_USERNAME)
      echo "After exports"
      cd tmp/
      mkdir -p cookies
      cd cookies
      chmod a+w -R .