commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/set_env_chmod.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      cd /var/app/current/
      sudo touch testingshellscript.hi
      export RDS_PORT=5432
      export RDS_HOSTNAME=aah6nkdo1xgulk.c1auivbufwar.us-west-1.rds.amazonaws.com
      export RDS_DB_NAME=eatify-crm
      export RDS_PASSWORD=AuA8Bd9wGGUT
      export PGPASSWORD=$RDS_PASSWORD
      RDS_USERNAME=$(/opt/elasticbeanstalk/bin/get-config environment -k RDS_USERNAME)
      cd tmp/
      sudo mkdir cookies
      cd cookies
      sudo chmod a+w -R .